<h1> Calculate the Square of a Number </h1>

<form action="/square/results">
  <div>
    <label for="number_input"> Enter a number </label>
    <input id="number_input" type="text" name="users_number" placeholder="E.g. 10">
  </div>

  <button> Calculate Square </button> 
</form>

